@media screen and (max-width: 768px) {

    /*** INTRODUCTION ***/

    .hero-tickets-img img {
        max-width: 80vw;
    }


    /******************************************************
    ******************     About    ***********************
    ******************************************************/

    .page-header img {
        max-width: 90%;
    }
}


@media screen and (min-width: 768px) {

    /*** INTRODUCTION ***/

    #intro{
        height: fit-content;
    }
}


@media screen and (min-width: 992px) {

    /*** INTRODUCTION ***/

    #intro{
        height: 100vh;
    }

    #intro .row {
        margin-top: 50vh;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}